Repository FallenLuc/noxer-market: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1852 fixed bugs
  config/webpack/plugins.webpack.ts
  src/1_FSD_app/providers/ErrorBoundaryProvider/components/ErrorBoundaryProvider.tsx
  src/1_FSD_app/providers/RouterProvider/components/RouterProvider.tsx
  src/1_FSD_app/styles/index.style.scss
  src/1_FSD_app/styles/vars/_globals.var.scss
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1852 fixed bugs of environment
  config/storybook/main.ts
  config/storybook/preview.ts
  config/webpack/webpackLoaders/sassLoader.webpack.ts
  package.json
  pnpm-lock.yaml
  public/index.html
  src/2_FSD_pages/MainPage/components/MainPage/Main.page.tsx
  src/6_FSD_shared/lib/decorators/storybook/Center.decorator.tsx
  src/6_FSD_shared/lib/decorators/storybook/Page.decorator.tsx
  src/6_FSD_shared/lib/decorators/storybook/Restriction.decorator.tsx
  src/6_FSD_shared/lib/decorators/storybook/Router.decorator.tsx
  src/6_FSD_shared/lib/decorators/storybook/Store.decorator.tsx
  src/6_FSD_shared/lib/decorators/storybook/Style.decorator.tsx
  src/6_FSD_shared/ui/Stack/components/Flex/Flex.stories.tsx
  src/6_FSD_shared/ui/Stack/components/Flex/Flex.tsx
Due: pnpm lint:ts:fix, pnpm prettier --write

MDT-1852 create Page, and adaptive system
  package.json
  src/1_FSD_app/styles/index.style.scss
  src/1_FSD_app/styles/mixins/_helpers.mixin.scss
  src/1_FSD_app/styles/vars/_color.var.scss
  src/1_FSD_app/styles/vars/_font.var.scss
  src/1_FSD_app/styles/vars/_gap.var.scss
  src/1_FSD_app/styles/vars/_global.var.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/1_FSD_app/styles/vars/_space.var.scss
  src/6_FSD_shared/ui/Page/components/Page/Page.module.scss
  src/6_FSD_shared/ui/Page/components/Page/Page.stories.tsx
  src/6_FSD_shared/ui/Page/components/Page/Page.tsx
  src/6_FSD_shared/ui/Page/index.ts
  src/6_FSD_shared/ui/layout/components/Container/Container.layout.tsx
  src/6_FSD_shared/ui/layout/components/Container/Container.stories.tsx
  src/6_FSD_shared/ui/layout/components/Container/ContainerLayout.module.scss
  src/6_FSD_shared/ui/layout/index.ts
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1852 createPages
  src/1_FSD_app/styles/fonts/_Inter.font.scss
  src/1_FSD_app/styles/fonts/_Roboto.font.scss
  src/1_FSD_app/styles/index.style.scss
  src/1_FSD_app/styles/vars/_font.var.scss
  src/2_FSD_pages/Cart/components/Cart/Cart.page.tsx
  src/2_FSD_pages/Cart/components/Cart/CartPage.lazy.tsx
  src/2_FSD_pages/Cart/index.ts
  src/2_FSD_pages/Catalog/components/Catalog/Catalog.page.tsx
  src/2_FSD_pages/Catalog/components/Catalog/CatalogPage.lazy.tsx
  src/2_FSD_pages/Catalog/index.ts
  src/2_FSD_pages/Favorites/components/Favorites/Favorites.page.tsx
  src/2_FSD_pages/Favorites/components/Favorites/FavoritesPage.lazy.tsx
  src/2_FSD_pages/Favorites/index.ts
  src/2_FSD_pages/Profile/components/Profile/PrifilePage.lazy.tsx
  src/2_FSD_pages/Profile/components/Profile/Profile.page.tsx
  src/2_FSD_pages/Profile/index.ts
  src/6_FSD_shared/ui/Page/components/Page/Page.module.scss
  src/6_FSD_shared/ui/Page/components/Page/Page.tsx
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1852 create Routing
  config/webpack/plugins.webpack.ts
  src/1_FSD_app/providers/RouterProvider/components/RouterProvider.tsx
  src/1_FSD_app/types/global.d.ts
  src/2_FSD_pages/Cart/index.ts
  src/2_FSD_pages/CartPage/components/CartPage/Cart.page.tsx
  src/2_FSD_pages/CartPage/components/CartPage/CartPage.lazy.tsx
  src/2_FSD_pages/CartPage/index.ts
  src/2_FSD_pages/Catalog/index.ts
  src/2_FSD_pages/CatalogPage/components/CatalogPage/Catalog.page.tsx
  src/2_FSD_pages/CatalogPage/components/CatalogPage/CatalogPage.lazy.tsx
  src/2_FSD_pages/CatalogPage/index.ts
  src/2_FSD_pages/Favorites/index.ts
  src/2_FSD_pages/FavoritesPage/components/FavoritesPage/Favorites.page.tsx
  src/2_FSD_pages/FavoritesPage/components/FavoritesPage/FavoritesPage.lazy.tsx
  src/2_FSD_pages/FavoritesPage/index.ts
  src/2_FSD_pages/NotFoundPage/components/NotFoundPage/NotFound.page.tsx
  src/2_FSD_pages/NotFoundPage/components/NotFoundPage/NotFoundPage.lazy.tsx
  src/2_FSD_pages/NotFoundPage/index.ts
  src/2_FSD_pages/ProductPage/components/ProductPage/Product.page.tsx
  src/2_FSD_pages/ProductPage/components/ProductPage/ProductPage.lazy.tsx
  src/2_FSD_pages/ProductPage/index.ts
  src/2_FSD_pages/Profile/index.ts
  src/2_FSD_pages/ProfilePage/components/ProfilePage/PrifilePage.lazy.tsx
  src/2_FSD_pages/ProfilePage/components/ProfilePage/Profile.page.tsx
  src/2_FSD_pages/ProfilePage/index.ts
  src/6_FSD_shared/assets/icons/cart.svg
  src/6_FSD_shared/assets/icons/catalog.svg
  src/6_FSD_shared/assets/icons/favorites.svg
  src/6_FSD_shared/assets/icons/main.svg
  src/6_FSD_shared/assets/icons/profile.svg
  src/6_FSD_shared/assets/index.ts
  src/6_FSD_shared/config/router/config/route.config.ts
  src/6_FSD_shared/config/router/constants/routePaths.constant.ts
  src/6_FSD_shared/config/router/helpers/gettersRouteConfig.helper.ts
  src/6_FSD_shared/config/router/helpers/gettersRoutesPaths.helper.ts
  src/6_FSD_shared/config/router/index.ts
  src/6_FSD_shared/config/router/types/routeConfig.type.ts
Due: pnpm lint:ts:fix, pnpm prettier --write

MDT-1852 createFooter
  config/webpack/webpackLoaders/svgrLoaders.webpack.ts
  src/1_FSD_app/providers/RouterProvider/components/RouterProvider.tsx
  src/1_FSD_app/styles/index.style.scss
  src/1_FSD_app/styles/vars/_color.var.scss
  src/1_FSD_app/styles/vars/_gap.var.scss
  src/1_FSD_app/styles/vars/_global.var.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/1_FSD_app/styles/vars/_space.var.scss
  src/2_FSD_pages/CartPage/components/CartPage/Cart.page.tsx
  src/2_FSD_pages/CatalogPage/components/CatalogPage/Catalog.page.tsx
  src/2_FSD_pages/FavoritesPage/components/FavoritesPage/Favorites.page.tsx
  src/2_FSD_pages/MainPage/components/MainPage/Main.page.tsx
  src/2_FSD_pages/NotFoundPage/components/NotFoundPage/NotFound.page.tsx
  src/2_FSD_pages/ProductPage/components/ProductPage/Product.page.tsx
  src/2_FSD_pages/ProfilePage/components/ProfilePage/Profile.page.tsx
  src/2_FSD_pages/ProfilePage/components/ProfilePage/ProfilePage.lazy.tsx
  src/2_FSD_pages/ProfilePage/index.ts
  src/3_FSD_widgets/Footer/components/Footer/Footer.module.scss
  src/3_FSD_widgets/Footer/components/Footer/Footer.stories.tsx
  src/3_FSD_widgets/Footer/components/Footer/Footer.tsx
  src/3_FSD_widgets/Footer/index.ts
  src/4_FSD_features/Navigation/components/Navigation/Navigation.module.scss
  src/4_FSD_features/Navigation/components/Navigation/Navigation.stories.tsx
  src/4_FSD_features/Navigation/components/Navigation/Navigation.tsx
  src/4_FSD_features/Navigation/index.ts
  src/6_FSD_shared/assets/icons/logo.svg
  src/6_FSD_shared/assets/index.ts
  src/6_FSD_shared/config/router/config/route.config.ts
  src/6_FSD_shared/config/router/helpers/gettersRouteConfig.helper.ts
  src/6_FSD_shared/config/router/index.ts
  src/6_FSD_shared/config/router/types/routeConfig.type.ts
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1853 add ui Text
  src/1_FSD_app/styles/_ui-library.scss
  src/1_FSD_app/styles/index.style.scss
  src/1_FSD_app/styles/vars/_color.var.scss
  src/1_FSD_app/styles/vars/_font.var.scss
  src/3_FSD_widgets/Footer/components/Footer/Footer.tsx
  src/6_FSD_shared/lib/helpers/colorMapper/colorMapper.helper.ts
  src/6_FSD_shared/lib/helpers/fontMapper/fontMapper.helper.ts
  src/6_FSD_shared/types/style.type.ts
  src/6_FSD_shared/ui/Text/components/Text/Text.module.scss
  src/6_FSD_shared/ui/Text/components/Text/Text.stories.tsx
  src/6_FSD_shared/ui/Text/components/Text/Text.tsx
  src/6_FSD_shared/ui/Text/index.ts
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1853 CreateProduct and createProductList
  package.json
  pnpm-lock.yaml
  response.json
  src/1_FSD_app/styles/vars/_color.var.scss
  src/1_FSD_app/styles/vars/_gap.var.scss
  src/1_FSD_app/styles/vars/_global.var.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/4_FSD_features/Navigation/components/Navigation/Navigation.module.scss
  src/5_FSD_entities/Category/components/Category/Category.module.scss
  src/5_FSD_entities/Category/components/Category/Category.stories.tsx
  src/5_FSD_entities/Category/components/Category/Category.tsx
  src/5_FSD_entities/Category/index.ts
  src/5_FSD_entities/Category/types/categotyData.type.ts
  src/5_FSD_entities/Product/components/PriceLine/PriceLine.module.scss
  src/5_FSD_entities/Product/components/PriceLine/PriceLine.tsx
  src/5_FSD_entities/Product/components/ProductCard/ProductCard.module.scss
  src/5_FSD_entities/Product/components/ProductCard/ProductCard.tsx
  src/5_FSD_entities/Product/components/ProductCardCompact/ProductCardCompact.module.scss
  src/5_FSD_entities/Product/components/ProductCardCompact/ProductCardCompact.tsx
  src/5_FSD_entities/Product/components/ProductCardFull/ProductCardFull.module.scss
  src/5_FSD_entities/Product/components/ProductCardFull/ProductCardFull.tsx
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.module.scss
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.tsx
  src/5_FSD_entities/Product/components/TagsStack/TagsStack.module.scss
  src/5_FSD_entities/Product/components/TagsStack/TagsStack.tsx
  src/5_FSD_entities/Product/index.ts
  src/5_FSD_entities/Product/lib/helpers/priceInformationParser/priceInformationParser.helper.ts
  src/5_FSD_entities/Product/types/productData.type.ts
  src/6_FSD_shared/assets/icons/tag_hit.svg
  src/6_FSD_shared/assets/icons/tag_new.svg
  src/6_FSD_shared/assets/icons/tag_premium.svg
  src/6_FSD_shared/assets/icons/tag_sale.svg
  src/6_FSD_shared/assets/index.ts
  src/6_FSD_shared/config/router/helpers/gettersRoutesPaths.helper.ts
  src/6_FSD_shared/ui/Skeleton/components/Skeleton/Skeleton.module.scss
  src/6_FSD_shared/ui/Skeleton/components/Skeleton/Skeleton.stories.tsx
  src/6_FSD_shared/ui/Skeleton/components/Skeleton/Skeleton.tsx
  src/6_FSD_shared/ui/Skeleton/index.ts
  src/6_FSD_shared/ui/Text/components/Text/Text.module.scss
  src/6_FSD_shared/ui/Text/components/Text/Text.tsx
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1853 create Adaptive
  config/webpack/webpackHelpers/getApi.webpack.ts
  src/1_FSD_app/styles/mixins/_helpers.mixin.scss
  src/1_FSD_app/styles/vars/_font.var.scss
  src/1_FSD_app/styles/vars/_gap.var.scss
  src/1_FSD_app/styles/vars/_global.var.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/2_FSD_pages/MainPage/components/MainPage/Main.page.tsx
  src/3_FSD_widgets/Footer/components/Footer/Footer.tsx
  src/4_FSD_features/LoadMainData/api/getMainData.rtkq.ts
  src/4_FSD_features/LoadMainData/index.ts
  src/5_FSD_entities/Product/components/ImagesSlider/ImagesSlider.module.scss
  src/5_FSD_entities/Product/components/ImagesSlider/ImagesSlider.tsx
  src/5_FSD_entities/Product/components/PriceLine/PriceLine.module.scss
  src/5_FSD_entities/Product/components/PriceLine/PriceLine.tsx
  src/5_FSD_entities/Product/components/ProductCard/ProductCard.module.scss
  src/5_FSD_entities/Product/components/ProductCardFull/ProductCardFull.module.scss
  src/5_FSD_entities/Product/components/ProductCardFull/ProductCardFull.tsx
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.module.scss
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.tsx
  src/5_FSD_entities/Product/index.ts
  src/5_FSD_entities/Product/lib/helpers/priceInformationParser/priceInformationParser.helper.ts
  src/5_FSD_entities/Product/types/productData.type.ts
  src/6_FSD_shared/api/constants/requestPath.constant.ts
  src/6_FSD_shared/api/index.ts
  src/6_FSD_shared/api/lib/helpers/getterRequestPaths.helper.ts
  src/6_FSD_shared/constants/common.constant.ts
  src/6_FSD_shared/constants/links.constant.ts
  src/6_FSD_shared/types/pagination.type.ts
  src/6_FSD_shared/ui/Loader/components/Loader/Loader.module.scss
  src/6_FSD_shared/ui/Loader/components/Loader/Loader.stories.tsx
  src/6_FSD_shared/ui/Loader/components/Loader/Loader.tsx
  src/6_FSD_shared/ui/Loader/index.ts
  src/6_FSD_shared/ui/Page/components/Page/Page.module.scss
  src/6_FSD_shared/ui/Skeleton/components/Skeleton/Skeleton.module.scss
  src/6_FSD_shared/ui/Skeleton/components/Skeleton/Skeleton.tsx
  src/6_FSD_shared/ui/Stack/components/Flex/Flex.module.scss
  src/6_FSD_shared/ui/Stack/components/Flex/Flex.tsx
  src/6_FSD_shared/ui/layout/components/Container/ContainerLayout.module.scss
  tsconfig.json
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1857 create SliderPromo
  config/webpack/plugins.webpack.ts
  src/2_FSD_pages/MainPage/components/MainPage/Main.page.tsx
  src/3_FSD_widgets/PromoSlider/components/PromoSlider/PromoSlider.module.scss
  src/3_FSD_widgets/PromoSlider/components/PromoSlider/PromoSlider.stories.tsx
  src/3_FSD_widgets/PromoSlider/components/PromoSlider/PromoSlider.tsx
  src/3_FSD_widgets/PromoSlider/constant/promoSliderData.constant.ts
  src/3_FSD_widgets/PromoSlider/index.ts
  src/3_FSD_widgets/PromoSlider/types/sliderItemData.type.ts
  src/5_FSD_entities/Product/components/ImagesSlider/ImagesSlider.tsx
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.module.scss
  src/6_FSD_shared/ui/AppImage/components/AppImage/AppImage.tsx
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1856 create Categories
  src/1_FSD_app/styles/vars/_size.var.scss
  src/2_FSD_pages/MainPage/components/MainPage/Main.page.tsx
  src/3_FSD_widgets/PromoSlider/components/PromoSlider/PromoSlider.module.scss
  src/3_FSD_widgets/PromoSlider/components/PromoSlider/PromoSlider.tsx
  src/5_FSD_entities/Category/components/Category/Category.module.scss
  src/5_FSD_entities/Category/components/Category/Category.tsx
  src/5_FSD_entities/Category/components/CategoryCard/CategoryCard.stories.tsx
  src/5_FSD_entities/Category/components/CategoryCard/CategoryCard.tsx
  src/5_FSD_entities/Category/components/CategoryCardFull/CategoryCardFull.module.scss
  src/5_FSD_entities/Category/components/CategoryCardFull/CategoryCardFull.tsx
  src/5_FSD_entities/Category/components/CategorySliderList/CategorySliderList.module.scss
  src/5_FSD_entities/Category/components/CategorySliderList/CategorySliderList.tsx
  src/5_FSD_entities/Category/index.ts
  src/5_FSD_entities/Product/components/ProductCardFull/ProductCardFull.module.scss
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1855 fixed footer
  src/3_FSD_widgets/Footer/components/Footer/Footer.module.scss
  src/3_FSD_widgets/Footer/components/Footer/Footer.tsx
  src/4_FSD_features/Navigation/components/Navigation/Navigation.module.scss
  src/6_FSD_shared/ui/Page/components/Page/Page.module.scss
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1855 create Input ui
  src/1_FSD_app/styles/_ui-library.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/3_FSD_widgets/Footer/components/Footer/Footer.tsx
  src/3_FSD_widgets/PromoSlider/constant/promoSliderData.constant.ts
  src/6_FSD_shared/assets/icons/search.svg
  src/6_FSD_shared/assets/index.ts
  src/6_FSD_shared/lib/helpers/colorMapper/colorMapper.helper.ts
  src/6_FSD_shared/types/style.type.ts
  src/6_FSD_shared/ui/Input/components/Input/Input.module.scss
  src/6_FSD_shared/ui/Input/components/Input/Input.stories.tsx
  src/6_FSD_shared/ui/Input/components/Input/Input.tsx
  src/6_FSD_shared/ui/Input/index.ts
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1855 create search Page
  config/webpack/plugins.webpack.ts
  src/1_FSD_app/providers/RouterProvider/components/RouterProvider.tsx
  src/1_FSD_app/styles/vars/_font.var.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/2_FSD_pages/MainPage/components/MainPage/Main.page.tsx
  src/2_FSD_pages/SearchPage/components/SearchPage/Search.page.tsx
  src/2_FSD_pages/SearchPage/components/SearchPage/SearchPage.lazy.tsx
  src/2_FSD_pages/SearchPage/index.ts
  src/4_FSD_features/Search/components/Search/Search.module.scss
  src/4_FSD_features/Search/components/Search/Search.tsx
  src/4_FSD_features/Search/index.ts
  src/6_FSD_shared/config/router/config/route.config.ts
  src/6_FSD_shared/config/router/constants/routePaths.constant.ts
  src/6_FSD_shared/config/router/helpers/gettersRoutesPaths.helper.ts
  src/6_FSD_shared/config/router/index.ts
  src/6_FSD_shared/ui/Input/components/Input/Input.module.scss
  src/6_FSD_shared/ui/Input/components/Input/Input.tsx
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1855 create LoadProducts
  response.json
  src/1_FSD_app/App.tsx
  src/1_FSD_app/store/store.ts
  src/1_FSD_app/store/storeTypes/mainState.map.ts
  src/1_FSD_app/styles/vars/_size.var.scss
  src/2_FSD_pages/CatalogPage/components/CatalogPage/Catalog.page.tsx
  src/2_FSD_pages/MainPage/components/MainPage/Main.page.tsx
  src/2_FSD_pages/SearchPage/components/SearchPage/Search.page.tsx
  src/4_FSD_features/LoadProducts/config/productsAdapter.config.ts
  src/4_FSD_features/LoadProducts/index.ts
  src/4_FSD_features/LoadProducts/store/selectors/getProducts.selector.ts
  src/4_FSD_features/LoadProducts/store/selectors/getProductsFields.selector.ts
  src/4_FSD_features/LoadProducts/store/slices/products.slice.ts
  src/4_FSD_features/LoadProducts/store/storeTypes/productsState.map.ts
  src/4_FSD_features/LoadProducts/store/thunks/fetchProducts/fetchProducts.thunk.ts
  src/4_FSD_features/LoadProducts/store/thunks/fetchShadowProducts/fetchShadowProducts.thunk.ts
  src/4_FSD_features/Search/components/Search/Search.tsx
  src/4_FSD_features/Search/components/Suggestions/Suggestions.module.scss
  src/4_FSD_features/Search/components/Suggestions/Suggestions.tsx
  src/4_FSD_features/Search/constants/oftenSearchData.constant.ts
  src/5_FSD_entities/Product/api/getProducts.rtkq.ts
  src/5_FSD_entities/Product/components/ImagesSlider/ImagesSlider.tsx
  src/5_FSD_entities/Product/index.ts
  src/6_FSD_shared/ui/Input/components/Input/Input.tsx
  src/6_FSD_shared/ui/Stack/components/Flex/Flex.tsx
  src/6_FSD_shared/ui/Text/components/Text/Text.tsx
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1855 create Search
  src/1_FSD_app/App.tsx
  src/1_FSD_app/store/store.ts
  src/1_FSD_app/store/storeTypes/mainState.map.ts
  src/1_FSD_app/styles/vars/_color.var.scss
  src/1_FSD_app/styles/vars/_global.var.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/2_FSD_pages/SearchPage/components/SearchPage/Search.page.tsx
  src/3_FSD_widgets/SearchProducts/components/SearchProducts/SearchProducts.module.scss
  src/3_FSD_widgets/SearchProducts/components/SearchProducts/SearchProducts.stories.tsx
  src/3_FSD_widgets/SearchProducts/components/SearchProducts/SearchProducts.tsx
  src/3_FSD_widgets/SearchProducts/index.ts
  src/4_FSD_features/LoadProducts/config/productsAdapter.config.ts
  src/4_FSD_features/LoadProducts/index.ts
  src/4_FSD_features/LoadProducts/lib/helpers/filterProduct.helper.ts
  src/4_FSD_features/LoadProducts/store/selectors/getProductsFields.selector.ts
  src/4_FSD_features/LoadProducts/store/slices/products.slice.ts
  src/4_FSD_features/LoadProducts/store/storeTypes/productsState.map.ts
  src/4_FSD_features/LoadProducts/store/thunks/fetchShadowProducts/fetchShadowProducts.thunk.ts
  src/4_FSD_features/Navigation/components/Navigation/Navigation.module.scss
  src/4_FSD_features/Search/components/Search/Search.module.scss
  src/4_FSD_features/Search/components/Search/Search.tsx
  src/4_FSD_features/Search/index.ts
  src/4_FSD_features/Search/store/selectors/getSearchValueSelector/getSearchValue.selector.ts
  src/4_FSD_features/Search/store/slices/search.slice.ts
  src/4_FSD_features/Search/store/storeTypes/searchStateMap.map.ts
  src/5_FSD_entities/Product/api/getProducts.rtkq.ts
  src/5_FSD_entities/Product/components/ImagesSlider/ImagesSlider.module.scss
  src/5_FSD_entities/Product/components/ProductCardCompact/ProductCardCompact.module.scss
  src/5_FSD_entities/Product/components/ProductCardCompact/ProductCardCompact.tsx
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.module.scss
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.tsx
  src/6_FSD_shared/lib/helpers/colorMapper/colorMapper.helper.ts
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1855 create Search
  src/4_FSD_features/LoadProducts/store/thunks/fetchShadowProducts/fetchShadowProducts.thunk.ts
Due: pnpm lint:ts:fix, pnpm prettier --write

MDT-1858 setLoading
  package.json
  pnpm-lock.yaml
  src/2_FSD_pages/CatalogPage/components/CatalogPage/Catalog.page.tsx
  src/3_FSD_widgets/SearchProducts/components/SearchProducts/SearchProducts.module.scss
  src/3_FSD_widgets/SearchProducts/components/SearchProducts/SearchProducts.stories.tsx
  src/4_FSD_features/LoadProducts/config/productsAdapter.config.ts
  src/4_FSD_features/LoadProducts/store/selectors/getProductsFields.selector.ts
  src/4_FSD_features/LoadProducts/store/slices/products.slice.ts
  src/4_FSD_features/LoadProducts/store/storeTypes/productsState.map.ts
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.module.scss
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.tsx
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

MDT-1858 create virtua
  package.json
  pnpm-lock.yaml
  src/1_FSD_app/styles/index.style.scss
  src/1_FSD_app/styles/vars/_global.var.scss
  src/1_FSD_app/styles/vars/_size.var.scss
  src/5_FSD_entities/Product/components/ImagesSlider/ImagesSlider.module.scss
  src/5_FSD_entities/Product/components/ImagesSlider/ImagesSlider.tsx
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.module.scss
  src/5_FSD_entities/Product/components/ProductCardItemList/ProductCardItemList.tsx
  src/6_FSD_shared/constants/common.constant.ts
  src/6_FSD_shared/lib/hooks/useWindowSize.hook.ts
  src/6_FSD_shared/ui/Page/components/Page/Page.tsx
  src/6_FSD_shared/ui/Skeleton/components/Skeleton/Skeleton.tsx
Due: pnpm lint:ts:fix, pnpm lint:style:fix, pnpm prettier --write

bugs fixed
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

public path fixed
  config/webpack/config.webpack.ts
Due: pnpm lint:ts:fix, pnpm prettier --write

Update Readme
  README.md
Due: none

fixed public path
  config/webpack/config.webpack.ts
Due: pnpm lint:ts:fix, pnpm prettier --write

Path conditions:
  pnpm lint:ts:fix: any of: **/*.{ts,tsx}
  pnpm lint:style:fix: any of: **/*{.css,.scss}
  pnpm prettier --write: any of: **/*{.ts,.tsx,.json,.html,.css,.scss}
